/* TODO: so far went with monochrome, it can get depressing, we'll have change it soon */

body{
  overflow: hidden
}

.leaflet-control-custom {
  color: #808080;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.leaflet-control-custom:hover {
  background-color: #1d1d1d; 
  color: #000000; 
}

.leaflet-control-custom button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 6px #00000033;
}

.leaflet-control-custom:hover {
  background-color: #1c1c1c;
  opacity: 0.8;
}


.leaflet-control-attribution {
  color: #000000;
  font-size: 12px;
}


.leaflet-control-attribution a {
  color: #555;
  text-decoration: none;
}

.leaflet-control-attribution a:hover {
  color: #101010;
  text-decoration: underline;
}

#map {
  flex: 1;
  filter: grayscale(100%);
}

#map-container {
  display: flex;
  position: relative;
}

.route-panel {
  width: 300px;
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
}

.route-panel h3 {
  margin-top: 10px;
}

.route-panel ul {
  list-style: none;
  padding: 0;
}

.route-panel li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.route-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vh;
  height: 100vh;
  overflow-y: auto;
  background: #ffffffe6;
  z-index: 2;
  padding: 0rem;
}
.toggle-button {
  position: fixed;
  top: 20px; 
  right: 20px; 
  z-index: 1000;
  background-color: #ffffff; 
  color: rgb(11, 11, 11); 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  cursor: pointer; 
  box-shadow: 0 2px 6px #00000033; 
}

.toggle-button:hover {
  background-color: #808080;
  color: white;
}
.route-panel.hidden {
  transform: translateX(100%);
}

.route-panel.visible {
  transform: translateX(0); 
}

